@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "bungee";
    src: url("./font/Bungee-Regular.ttf");
}

@font-face {
    font-family: "jetbrains-mono";
    src: url("./font/JetBrainsMono-Regular.ttf");
}